<!doctype html>
<html lang="en">
{% load static %}


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'fonts1/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css1/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static  'css/owl.carousel.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/charts/chartist-bundle/chartist.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css' %}">
  <link rel="stylesheet" href="{%
        static 'assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'css1/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <style>
    .logo-image {
      max-width: 100%;
      height: 100%;
      border-radius: 50%;

      border-style: none;
      text-align: left;
    }
  </style>

  <title>Host Discovery</title>
</head>

<body>
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <a class="navbar-brand" href="/">
        <div class="logo-image">
          <img src="https://assets.ey.com/content/dam/ey-sites/ey-com/en_gl/generic/logos/20170526-EY-Digital-Brand.svg"
            class="img-fluid">
        </div>
      </a>
      <a class="navbar-brand" href="index.html">RedTeam's Enumeration Platfom</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">
          <li class="nav-item">
            <div id="custom-search" class="top-search-bar">
              <input class="form-control" type="text" placeholder="Search..">
            </div>
          </li>
          <li class="nav-item dropdown notification">
            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span
                class="indicator"></span></a>
            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
              <li>
                <div class="notification-title"> Notification</div>
                <div class="notification-list">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img src="{% static 'assets/images/avatar-2.jpg' %}"
                            alt="" class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy
                            Rakestraw</span>accepted your invitation to join the team.
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img src="{% static 'assets/images/avatar-3.jpg' %}"
                            alt="" class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham
                          </span>is
                          now following you
                          <div class="notification-date">2 days ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img src="{% static 'assets/images/avatar-4.jpg' %}"
                            alt="" class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan
                            Pechi</span> is
                          watching your main repository
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="notification-info">
                        <div class="notification-list-user-img"><img src="{% static 'assets/images/avatar-5.jpg' %}"
                            alt="" class="user-avatar-md rounded-circle"></div>
                        <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica
                            Caruso</span>accepted your invitation to join the team.
                          <div class="notification-date">2 min ago</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="list-footer"> <a href="#">View all notifications</a></div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown connection">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
              <li class="connection-list">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="{% static 'assets/images/github.png' %}" alt="">
                      <span>Github</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="{% static 'assets/images/dribbble.png' %}" alt="">
                      <span>Dribbble</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="{% static 'assets/images/dropbox.png' %}" alt="">
                      <span>Dropbox</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="{% static 'assets/images/bitbucket.png' %}" alt="">
                      <span>Bitbucket</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="{% static 'assets/images/mail_chimp.png' %}"
                        alt=""><span>Mail
                        chimp</span></a>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="{% static 'assets/images/slack.png' %}" alt="">
                      <span>Slack</span></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="conntection-footer"><a href="#">More</a></div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown nav-user">
            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg' %}" alt=""
                class="user-avatar-md rounded-circle"></a>
            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
              <div class="nav-user-info">
                <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                <span class="status"></span><span class="ml-2">Available</span>
              </div>
              <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
              <a class="dropdown-item" href="{%url 'signout' %}"><i class="fas fa-power-off mr-2"></i>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-1" aria-controls="submenu-1"><i
                                class="fa fa-fw fa-user-circle"></i>Dashboard <span
                                class="badge badge-success">6</span></a>
                        <div id="submenu-1" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                        data-target="#submenu-1-2" aria-controls="submenu-1-2">Manage Scans</a>
                                    <div id="submenu-1-2" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="">create</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="ecommerce-product.html">modify </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="ecommerce-product-single.html"> update</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="ecommerce-product-checkout.html">add</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="dashboard-finance.html"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="dashboard-sales.html"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                        data-target="#submenu-1-1" aria-controls="submenu-1-1">manage Asset
                                        Discovery</a>
                                    <div id="submenu-1-1" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="dashboard-influencer.html">View assets</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="'authentication/asset_discovery.html'">Update
                                                    assets
                                                    information</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="influencer-profile.html">Delete assets</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-2" aria-controls="submenu-2"><i
                                class="fa fa-fw fa-rocket"></i>Consult</a>
                        <div id="submenu-2" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/cards.html">Consult Scans <span
                                            class="badge badge-secondary">New</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/general.html">Consult Asset Discovery</a>
                                </li>


                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <div class="content">

    <div class="container">
      <h2 class="mb-5">Asset Discovery</h2>

      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>


              <th scope="col">Name</th>

              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row">
              
              <td>{{value}}</td>



              <td><a href="#" data-toggle="collapse" aria-expanded="false" class="more">Details</a></td>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  {% for value in values %}
                  <td>{{value}}</td>
                  {% endfor %}


                </div>
            </tr>
            <td>
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                  <button id="myButton" class="btn btn-success notika-btn-success">Create new Scan</button>
                  <script type="text/javascript">
                    document.getElementById("myButton").onclick = function () {
                      location.href = 'network_list';
                    };
                  </script>
                </div>
              </div>


            </td>
            <div class="or">
              <p style="color: black;" >Not this network? <a href="{% url 'network_list' %}">View other networks</a></p>
            </div>
          </tbody>
        </table>

        </tr>
      </div>


      <div class="input_field"> <span><i aria-hidden="true"></i></span>
        <input type="text" name="Range" placeholder="Select Range" required />
      </div>
      <div class="container py-5">

        <div class="row py-5">
          <div class="col-lg-10 mx-auto">
            <div class="card rounded shadow border-0">
              <div class="card-body p-5 bg-white rounded">
                <div class="table-responsive">
                  <table id="example" style="width:100%" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>IP</th>
                        <th>hostname</th>
                        
                      </tr>
                      <tr>
                        <td>192.168.1.15</td>
                        <td>DESKTOP-EN8N8MB</td>
                      </tr>
                      <tr>
                        <td>192.168.101.122</td>
                        <td>LAPTOP-T722UJ11</td>
                      </tr>
                      <tr>
                        <td>192.168.101.143</td>
                        <td>LAPTOP-T722UJ11</td>
                      </tr>
                      <tr>
                        <td>192.168.1.15</td>
                        <td>DESKTOP-EN8N8MB</td>
                      </tr>
                      <tr>
                        <td>192.168.101.207</td>
                        <td>BIBIWARSPC </td>
                      </tr>
                      <tr>
                        <td>192.168.101.214</td>
                        <td>DESKTOP-4T3RRQB </td>
                      </tr>

                    </thead>
                    <ttable>
                      

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>








    </div>


  </div>

  </div>
  <script $(function() { $(document).ready(function() { $('#example').DataTable(); }); });>
  </script>




  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>